<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>商品一覧</h2>
      <%= link_to "商品追加", new_admin_item_path, class: "btn btn-success" %>
      <table class="table">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>価格</th>
          <th>ジャンル</th>
        </tr>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>