<%= form_with model: @user, url: user_path, method: :patch do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>マイページ</h3>
      <h5>会員情報編集</h5>
      <table class="table">
        <tr>
          <th><%= f.label :氏名 %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :メールアドレス%></th>
          <td><%= f.text_field :email %></td>
        </tr>
      </table>
      <button class="btn btn-success" type="submit">編集内容を保存する</button>
    </div>
  </div>
</div>
<% end %>